/* home.component.css */

.home-container {
	max-width: 600px;
	margin: 50px auto;
	padding: 40px 20px;
	background-color: var(--accent-color);
	border-radius: var(--border-radius);
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: all var(--transition-duration);
  }
  
  .home-container h1 {
	color: var(--primary-color);
	margin-bottom: 20px;
	font-size: 2.5em;
  }
  
  .home-container p {
	font-size: 1.2em;
	color: var(--text-color);
	margin-bottom: 20px;
  }
  
  .home-container button {
	background-color: var(--primary-color);
	color: var(--accent-color);
	border: none;
	padding: 15px 30px;
	font-size: 1.2em;
	margin: 10px 0;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: background-color var(--transition-duration), transform var(--transition-duration);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .home-container button:hover {
	background-color: var(--secondary-color);
	transform: scale(1.05);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
	.home-container {
	  padding: 20px 10px;
	}
  
	.home-container h1 {
	  font-size: 2em;
	}
  
	.home-container p {
	  font-size: 1em;
	}
  
	.home-container button {
	  width: 100%;
	  padding: 15px;
	  font-size: 1em;
	}
  }
  